version: '3.8'
services:
  nest-api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    env_file:
      - .env

  mongodb:
    image: prismagraphql/mongo-single-replica:5.0.3
    container_name: mongodb
    restart: always
    ports:
      - '27017:27017'
    env_file:
      - .env
    volumes:
      - mongodb:/data/db

volumes:
  mongodb:
    name: nest-db
